<div class='container h-100'>
    <div class='d-flex h-100 flex-column my-4'>
        <div class="d-flex justify-content-between header mb-3">
            <h2 class="my-auto mx-2">Mano pabėgimo kambariai</h2>
            <button class='btn btn-success m-1' type='button' (click)="onCreateClick()">
                <span>Sukurti</span>
            </button>
        </div>
        <mat-spinner *ngIf="isLoading; else dataRef" class="align-self-center" [diameter]="20"></mat-spinner>
        <ng-template #dataRef>
            <app-room *ngFor="let room of rooms" [room]="room" class="mb-3" (click)="onRoomSelect(room.id)"></app-room>
        </ng-template>
    </div>
</div>
