<div class='container'>
<form>
    <div class='centered-text'>Already have an account? <a href='/signin'>Sign in here</a></div>
    <fieldset>
        <legend>Create an account</legend>
        <div>
            <input class='inputrow' id='username' type='text'  placeholder='Username'>
        </div>
        <div>
            <input class='inputrow' id='password' type='password'  placeholder='Password'>
        </div>
        <div>
            <input class='inputrow' id='email' type='email'  placeholder='Email'>
        </div>
        <div>
            <button class='submit' id='submit' type='submit'>Sign Up</button> 
        </div>
    </fieldset>
</form>
</div>